:root {
  --clr-primary-00: hsl(267, 65%, 51%);
  --clr-primary-01: hsl(267, 82%, 61%);
  --clr-primary-02: hsl(274, 82, 61);
  --clr-primary-03: hsl(267, 81%, 75%);
  --clr-primary-04: hsla(267, 82%, 61%, 0.2);

  --clr-grayscale-00: hsl(0, 0%, 0%);
  --clr-grayscale-01: hsl(0, 0%, 9%);
  --clr-grayscale-02: hsl(0, 0%, 27%);
  --clr-grayscale-03: hsl(0, 0%, 73%);
  --clr-grayscale-04: hsl(0, 0%, 81%);
  --clr-grayscale-05: hsl(0, 0%, 89%);
  --clr-grayscale-06: hsl(0, 0%, 96%);
  --clr-grayscale-07: hsl(0, 0%, 100%);

  --clr-secondary-01: hsl(169, 70%, 52%);
  --clr-secondary-02: hsl(32, 100%, 65%);
  --clr-secondary-03: hsl(69, 70%, 52%);

  --clr-additional-01: hsl(18, 100%, 59%);
  --clr-additional-02: hsl(0, 87%, 50%);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* -------------------------------- 
  Fonts
-------------------------------- */

/*   https://developers.google.com/web/fundamentals/design-and-ux/typography/variable-fonts */

/* Set up Roboto for old browsers, only regular + bold */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-Light.woff2");
    font-weight: 300;
  }

  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-Regular.woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-Medium.woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-SemiBold.woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-Bold.woff2");
    font-weight: 700;
  }

  body {
    font-family: Outfit;
  }

  .super-bold {
    font-weight: bold;
  }
}

/* Set up Roboto for modern browsers, all weights */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/Outfit-VariableFont_wght.woff2")
        format("woff2 supports variations"),
      url("../assets/fonts/Outfit-VariableFont_wght.woff2")
        format("woff2-variations");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

  .super-bold {
    font-weight: 1000;
  }
}

/* -------------------------------- 
  Reset
-------------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html {
  height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------- 
  Tester
-------------------------------- */

/* * {
  outline: 2px solid lime;
} */

/* -------------------------------- 
  General styling
-------------------------------- */

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  /* line-height: 2.6rem; */
  font-weight: normal;
  background-color: var(--clr-grayscale-01);
  color: var(--clr-grayscale-07);
}

.container {
  margin: 0 auto;
  /* padding: 0 2rem; */
  max-width: 144rem;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.hide-scroll {
  overflow-y: hidden;
}

/* -------------------------------- 
  Up header
-------------------------------- */

.up-header {
  background-color: var(--clr-secondary-02);
}

/* -------------------------------- 
  Header nav
-------------------------------- */

.header__navigation {
  height: 3.8rem;
  /* background-color: var(--clr-secondary-02); */
  font-weight: var(--fw-medium);
  font-size: 1.6rem;
}

.header__navigation.navigation {
  padding-left: 6rem;
}

.navigation__list {
  display: flex;
  height: 100%;
  align-items: center;
  text-transform: capitalize;
}

.header__navigation .navigation__link {
  padding: 0.9rem 4rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.navigation__link {
  height: 100%;
  color: var(--clr-grayscale-00);
  text-decoration: none;
  white-space: nowrap;
}

.navigation__link.active {
  background-color: var(--clr-grayscale-01);
  color: var(--clr-grayscale-07);
}

@media (max-width: 480px) {
  .header__navigation.navigation {
    padding-left: 0;
  }
}

/* -------------------------------- 
  Header logo line
-------------------------------- */

.header__logo-line {
  display: flex;
  align-items: center;
  margin: 1.1rem 0;
  justify-content: space-between;
}

.logo {
  margin-left: 6rem;
}

.logo svg {
  width: 15.5rem;
  height: 4.9rem;
}

.header__button {
  margin-right: 6rem;
}

.button {
  font-size: 2rem;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-grayscale-07);
  border: 0.2rem solid transparent;
  outline: 0.2rem solid transparent;
  padding: 1.6rem 3rem;
  border-radius: 1.6rem;
  white-space: nowrap;
}

.button::first-letter {
  text-transform: uppercase;
}

.colorful-btn {
  background-color: var(--clr-primary-01);
}

.button:hover {
  background-color: var(--clr-grayscale-01);
  border: 0.2rem solid var(--clr-primary-01);
}

.button:focus {
  border: 0.2rem solid var(--clr-primary-03);
  outline: 0.2rem solid var(--clr-primary-03);
}

.button:active {
  background-color: var(--clr-primary-00);
  border: 0.2rem solid transparent;
  outline: 0.2rem solid transparent;
}

.header__menu {
  display: none;
}

@media (max-width: 480px) {
  .header__logo-line {
    margin: 1.5rem 0;
  }
  .logo {
    margin-left: 0;
  }
  .logo svg {
    width: 12.4rem;
    height: 3.9rem;
  }
  .header__button {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .menu__button {
    position: relative;
    display: block;
    cursor: pointer;
    background: transparent;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    border: 0;
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
    background-image: url("../assets/image/icons/burger.svg");
    z-index: 1000;
  }
  .menu__button[aria-expanded="true"] {
    background-image: url("../assets/image/icons/cross.svg");
  }
  .menu__list-wrapper {
    display: none;
    padding: 19.6rem 1.6rem;
  }
  .menu__list-wrapper[data-visible] {
    position: fixed;
    inset: 0;
    background-color: var(--clr-grayscale-00);
  }
  .menu__list-wrapper {
    display: none;
  }
  .menu__list--open {
    display: block;
  }
  .menu__list-button {
    padding-bottom: 17.7rem;
  }
  .menu__list-button button {
    width: 100%;
  }
  .menu__item {
    margin-bottom: 1.6rem;
    cursor: pointer;
  }
  .menu__link {
    font-size: 2rem;
    font-weight: var(--fw-medium);
    text-transform: capitalize;
  }
}

/* -------------------------------- 
  Promo section
-------------------------------- */
