:root {
  --text-dark: #000;
  --text-white: #fff;
  --bg-color: #181818;
  --primary-color: #954ced;
  --additional-yellow: #ffaa4c;
  --additional-grass: #c1db2f;
  --additional-lime: #2fdbbc;
}

/* -------------------------------- 
add fonts
-------------------------------- */

/* Set up Roboto for old browsers, only regular + bold */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-Light.woff2");
    font-weight: 300;
  }

  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-Regular.woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-Medium.woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-SemiBold.woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: Outfit;
    src: url("../assets/fonts/stwoff/Outfit-Bold.woff2");
    font-weight: 700;
  }

  body {
    font-family: Outfit;
  }

  .super-bold {
    font-weight: bold;
  }
}

/* Set up Roboto for modern browsers, all weights */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/Outfit-VariableFont_wght.woff2")
        format("woff2 supports variations"),
      url("../assets/fonts/Outfit-VariableFont_wght.woff2")
        format("woff2-variations");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

  .super-bold {
    font-weight: 1000;
  }
}

/* -------------------------------- 
Default style
-------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: normal;
  background-color: var(--bg-color);
  color: var(--color-light);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
